{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search - {{query}}</title>
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <link rel="shortcut icon" href="{%  static 'favicon.ico' %}">
   
</head>
<body style="background-color: rgb(245, 238, 247);">

    <div class="menu">
        <div style="margin:8px;margin-bottom: 0px;">
            <div class="header header-grid">
                <div class="left">
                    <div class="dropdown">
                        <button class="dropbtn" onclick="window.location.href='/'"> Menu </button>
                        <div class="dropdown-content">
                            <a href="/home">Home</a>
                            <a href="/home/lists/tw">To Watch</a>
                            <a href="/home/lists/wa">Watched</a>
                            <a href="/home/lists/li">Liked</a>
                        </div>
                    </div>
                </div>

                <div class="middle">
                    <form action="/home/search" method="get" style="text-align: center;">
                        <input type="search" name="query" id="query" class="search" placeholder="Search...">
                    </form>
                </div>

                <div class="right">
                    <button class="btn" style="float: right;" onclick="window.location.href='/signout'"> SignOut </button>
                </div>
            </div>
        </div>
        <hr>
    </div>

    <h2 style="margin-top: 110px;">Showing Results for "{{query}}"</h2>
    <div style="margin-bottom: 50px;">
        <ol>
            {% for result in results %}
            <li><a href="/home/titles/{{result.id}}">{{result.name}}</a> ({{result.year}})</li>
            {% endfor %}
        </ol>
    </div>
    
</body>
</html>